<h1>Create Todo</h1>
<form [formGroup]="todos"] (ngSubmit)="submit()")>
  <table class="table">
    <tr>
      <th scope="row">Id</th>
      <th><input type="text" formControlName="id"></th>
    </tr>
    <tr>
      <th scope="row">Card Name</th>
      <th><input type="text" formControlName="cardName"></th>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <th><input type="text" formControlName="email"></th>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <th><input type="text" formControlName="phone"></th>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-primary">Create</button></td>
    </tr>
  </table>
</form>
