<h1>Thêm mới sản phẩm</h1>
<form class="form-group" [formGroup]="productForm" (ngSubmit)="submit()">
  <div class="form-product-list">
    <div class="form-control">
      <label>Name</label>
      <input type="text" formControlName="name">
    </div>
    <div class="form-control">
      <label>Price</label>
      <input type="text" formControlName="price">
    </div>
    <div class="form-control">
      <label >Description</label>
      <input  type="text" formControlName="description">
    </div>
    <div class="form-control">
      <label >Category</label>
      <select formControlName="category">
        <option disabled>Chọn danh mục sản phẩm</option>
        <option *ngFor="let category of categories" [ngValue]="category" >{{category.name}}</option>
      </select>
    </div>
    <div class="form-control">
      <button class="btn btn-primary" type="submit">Thêm mới</button>
    </div>
  </div>
</form>
