<div class="container">
  <nav id="nav" class="navbar navbar-expand-sm navbar-dark" style="background-color: #046056">
    <a class="navbar-brand" [routerLink]="['']">FURAMA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['nhan-vien/list-nhan-vien']">Nhân Viên</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['khach-hang/list-khach-hang']">Khách Hàng</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['hop-dong/hop-dong-list']">Hợp Đồng</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
