<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách bài hát</title>
</head>
<body>
    <h1>Danh sách bài hát</h1>
    <p>
        <a href="/create">Thêm mới bài hát</a>
    </p>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Kind of music</td>
            <td>Link</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="musics : ${musicList}">
            <tr>
                <td th:text="${musics.id}"></td>
                <td th:text="${musics.name}"></td>
                <td th:text="${musics.kindOfMusic}"></td>
                <td th:text="${musics.link}"></td>
                <td><a th:href="@{/edit/${musics.id}">edit</a></td>
                <td><a th:href="@{/delete/${musics.id}">edit</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>