<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <h1>List Blog</h1>
    <p>
        <a href="/create">Create blog</a>
    </p>
    <form>
        <label>Search By Name</label>
        <input type="text" name="key_search">
    </form>
    <form>
        <label>Filler by Category</label>
        <select th:name="cateId" onchange="this.form.submit()">
            <option selected disabled>Choose something</option>
            <th:block th:each="item : ${listCategory}">
                <option th:value="${item.id}" th:text="${item.name}"></option>
            </th:block>
        </select>
    </form>
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name Blog</th>
            <th scope="col">Content</th>
            <th scope="col">Category</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">View Detail</th>
        </tr>
        <th:block th:each="blog : ${blogs}">
            <tr>
                <th scope="row" th:text="${blog.id}"></th>
                <td th:text="${blog.name}"></td>
                <td th:text="${blog.content}"></td>
                <td th:text="${blog.category.name}"></td>
                <td><a th:href="@{/edit/{id}(id=${blog.id})}">edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${blog.id})}">delete</a></td>
                <td><a th:href="@{/view/{id}(id=${blog.id})}">view detail</a></td>
            </tr>
        </th:block>
    </table>
    <div>
        <a th:href="@{'/'(page=${blogs.number - 1}, cateId=${cateId})}" th:if="${blogs.hasPrevious()}">Previous</a>
        <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
        <a th:href="@{'/'(page=${blogs.number + 1}, cateId=${cateId})}" th:if="${blogs.hasNext()}">Next</a>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</html>