<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/create}" th:object="${products}" method="post">
    <table class="table table-striped">
        <tr>
            <th>Tên sản phẩm</th>
            <td th></td>

        </tr>
        <tr>
            <th>Giá bắt đầu</th>
            <td><input th:field="*{price}"></td>
            <td style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</td>
        </tr>
        <tr>
            <th>Loại sản phẩm</th>
            <td><select th:field="*{productType}">
                <option value="">Chọn loại sản phẩm</option>
                <option th:each="productype : ${listProductType}"
                        th:value="${productype.id}" th:text="${productype.name}"></option>
            </select></td>
            <td style="color: red" th:if="${#fields.hasErrors('productType')}" th:errors="*{productType}">Error</td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn btn-primary" type="submit" value="Thêm sản phẩm"></td>
        </tr>
    </table>
    <a class="btn btn-primary" href="/list"> back</a>
</form>
</body>
</html>