<style>
  h5 {
    font-size: 17px;
    font-weight: 700;
  }
  .banner {
    background: url("../../../../assets/img/trang-chu/banner.jpg"), no-repeat;
    background-size: 100%;
    height: 365px;
    position: relative;
    margin-bottom: 50px;
    /*margin-top: 50px;*/
  }

  .banner h2 {
    position: absolute;
    color: white;
    bottom: 40%;
    text-align: center;
    left: 44%;
    font-size: 50px;
  }

  .content {
    width: 100%;
    height: 900px;
  }

  .content .card {
    float: left;
    margin: 20px 0 0 115px;
  }

  .footer {
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background: #046056;
  }
</style>
<div class="body">
  <div class="banner">
    <h2>FACILITIES</h2>
  </div>
  <div class="content">
    <div class="card" style="width: 22rem;">
      <img src="../../../../assets/img/trang-chu/card1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PHÒNG SUPERIOR HƯỚNG HỒ</h5>
        <p class="card-text">Diện Tích Phòng: 40.1 m2</p>
        <a [routerLink]="['hop-dong/hop-dong-create']" class="btn btn-primary">Đặt Phòng</a>
      </div>
    </div>
    <div class="card" style="width: 22rem;">
      <img src="../../../../assets/img/trang-chu/card2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PHÒNG SUPERIOR HƯỚNG VƯỜN</h5>
        <p class="card-text">Diện Tích Phòng: 40.1 m2</p>
        <a [routerLink]="['hop-dong/hop-dong-create']" class="btn btn-primary">Đặt Phòng</a>
      </div>
    </div>
    <div class="card" style="width: 22rem;">
      <img src="../../../../assets/img/trang-chu/card3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PHÒNG DELUXE HƯỚNG VƯỜN</h5>
        <p class="card-text">Diện Tích Phòng: 43.7 m2</p>
        <a [routerLink]="['hop-dong/hop-dong-create']" class="btn btn-primary">Đặt Phòng</a>
      </div>
    </div>
    <br>
    <div class="card" style="width: 22rem;">
      <img src="../../../../assets/img/trang-chu/card4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PHÒNG PRESIDENTIAL SUITE</h5>
        <p class="card-text">Diện Tích Phòng: 130 m2</p>
        <a [routerLink]="['hop-dong/hop-dong-create']" class="btn btn-primary">Đặt Phòng</a>
      </div>
    </div>
    <div class="card" style="width: 22rem;">
      <img src="../../../../assets/img/trang-chu/card5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BIỆT THỰ HƯỚNG BIỂN CÓ HỒ BƠI RIÊNG</h5>
        <p class="card-text">Diện Tích Phòng: 900 m2</p>
        <a [routerLink]="['hop-dong/hop-dong-create']" class="btn btn-primary">Đặt Phòng</a>
      </div>
    </div>
    <div class="card" style="width: 22rem;">
      <img src="../../../../assets/img/trang-chu/card6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BIỆT THỰ HƯỚNG VƯỜN CÓ HỒ BƠI RIÊNG</h5>
        <p class="card-text"> Diện Tích Phòng: 320 m2</p>
        <a [routerLink]="['hop-dong/hop-dong-create']" class="btn btn-primary">Đặt Phòng</a>
      </div>
    </div>
  </div>
  <div class="footer">Furama By QuocHuy</div>
</div>
