<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Create Product</h3>
<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create}" method="post" th:object="${products}">
  <table class="table">
    <tr>
      <td>Product Name</td>
      <td><input type="text" th:field = "*{name}"></td>
    </tr>
    <tr>
      <td>New Price</td>
      <td><input type="text" th:field = "*{price}"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><textarea cols="21" rows="5" type="text" th:field = "*{description}"></textarea></td>
    </tr>
    <tr>
      <td>Image Link</td>
      <td><input type="file" th:field = "*{img}"></td>
    </tr>
    <tr>
      <td></td>
      <td><input class="btn btn-primary" type="submit" value="Create product"></td>
    </tr>
  </table>

</form>
</body>
</html>