<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p>
    <a th:href="@{/shop}">Back to Product List</a>
</p>
<div>
    <div>
    <div>
        <img width="250px" height="300px" th:src="@{/img/{img}(img = ${products.getImg()})}">
    </div>
    <div>
        Tên SP: <span th:text="${products.name}"></span></br>
        Giá: <span th:text="${products.price}"></span></br>
        Mô tả: <span th:text="${products.description}"></span>VNĐ</br>
        <a class="btn btn-warning" th:href="@{/add/{id}(id = ${products.id})}">Thêm vào giỏ</a>
    </div>
    </div>
</div>
</body>
</html>