.header .header1 {
    height: 100px;
    border-bottom: 2px solid black;
}
.header .header2 {
    /*height: 40px;*/
    /*clear: both;*/
    padding: 5px;
    border-bottom: 2px solid black;
}

.header .header2 a {
    text-decoration: none;
    color: black;
    height: 30px;
    font-size: 20px;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.body .col-lg-3 {
    height: 450px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.body {
    overflow:hidden;
}

.footer {
    border-top: 2px solid black;
    text-align: center;
    padding-top: 30px;
}
