<h1>Danh sách sản phẩm</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Mô tả</th>
    <th>Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>
      <a class="btn btn-warning col-md-2 m-1" [routerLink]="['/product/edit', product.id]">Sửa</a>
      <a class="btn btn-danger col-md-2 m-1" [routerLink]="['/product/delete', product.id]">Xoá</a>
    </td>
  </tr>
  </tbody>
</table>
